:root {
    /*colors*/
    --bg-color: #fafafa;
    --accent-color-1: #4ecd5d;
    --accent-color-2: #7faec5;
    --text-color: #384b61;

    /*shadows*/
    --light-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

    /*borders*/
    --soft-border: 5px;

    /*fonts*/
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;

    /*font sizes*/
    --title: 3rem;
    --p: 1.3rem;

    /*transitions*/
    --nav-transition: background-color 400ms ease 0s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--body-font);
}

section {
    width: 100%;
    height: fit-content;
}

/*navigation style*/

.nav__menu ul {
    list-style: none;
}

.nav__menu a {
    text-decoration: none;
}

.nav--container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    transition: var(--nav-transition);
}

.solid {
    background-color: #fff;
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
}

.nav {
    height: 3.5rem;
}

.nav__logo,
.nav__burger,
.nav__close {
    color: var(--text-color);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo img {
    width: 8rem;
    height: 3.5rem;
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav__close {
    opacity: 0;
}

/*landingpage styling*/
.home {
    overflow: hidden;
    height: 115vh;
    background: url("../assets/img/background.jpg") no-repeat;
    background-size: cover;

    /*wave pattern*/
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 97.54%, 2.00% 97.47%, 4.00% 97.26%, 6.00% 96.92%, 8.00% 96.46%, 10.00%
    95.89%, 12.00% 95.22%, 14.00% 94.48%, 16.00% 93.67%, 18.00% 92.83%, 20.00% 91.98%, 22.00% 91.13%, 24.00% 90.32%,
    26.00% 89.56%, 28.00% 88.87%, 30.00% 88.28%, 32.00% 87.79%, 34.00% 87.42%, 36.00% 87.18%, 38.00% 87.08%, 40.00%
    87.12%, 42.00% 87.29%, 44.00% 87.60%, 46.00% 88.04%, 48.00% 88.59%, 50.00% 89.23%, 52.00% 89.96%, 54.00% 90.75%,
    56.00% 91.59%, 58.00% 92.44%, 60.00% 93.29%, 62.00% 94.11%, 64.00% 94.89%, 66.00% 95.59%, 68.00% 96.21%, 70.00%
    96.72%, 72.00% 97.12%, 74.00% 97.39%, 76.00% 97.52%, 78.00% 97.52%, 80.00% 97.37%, 82.00% 97.10%, 84.00% 96.69%,
    86.00% 96.17%, 88.00% 95.54%, 90.00% 94.83%, 92.00% 94.05%, 94.00% 93.22%, 96.00% 92.37%, 98.00% 91.52%, 100.00%
    90.69%);
}

.bg--overlay {
    width: 100%;
    height: inherit;
    background: rgba(57, 57, 57, 0.4);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }
}

.nav__link {
    color: var(--text-color);
    background-color: inherit;
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav__link:hover {
    background-color: var(--text-color);
    color: #0a2944;
}

/* Show menu */
.show__menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* Show icon */
.show__icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}
.show__icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
    cursor: pointer;
}

.dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown__link {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--text-color);
    background-color: #fff;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 600;
    transition: background-color .3s;
}

.dropdown__link i {
    font-size: 1.25rem;
    font-weight: initial;
}

.dropdown__link:hover {
    background-color: var(--text-color);
    color: #fff;
}

.dropdown__menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu{
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .nav--container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1118px) {
    .nav__container {
        margin-inline: auto;
    }

    .nav {
        height: calc(3.5rem + 2rem);
        display: flex;
        justify-content: space-between;
    }
    .nav__toggle {
        display: none;
    }
    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }
    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }
    .nav__link:hover {
        background-color: transparent;
    }

    .dropdown__item{
        position: relative;
    }

    .dropdown__menu{
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown__link {
        padding-inline: 1rem 3.5rem;
    }

    /* Show dropdown menu */
    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }
}
